<div class="box">
	<div class="level is-mobile">
		<div class="level-left">
			<span class="is-size-6 has-text-grey" :title="project.path">
				{{ project.name }} {{ project.path }} {{ folderExists }}
				<span class="has-text-danger" v-if="!folderExists">(this folder doesn't exist!)</span>
			</span>
		</div>

		<div class="level-right">
			<template v-if="folderExists">
				<!-- front start -->
				<button-front-start :path="project.path" style="margin-right:15px;" @address="value => address = value" @output="value => outputFrontStart = value" />

				<!-- front build -->
				<button-front-build :path="project.path" style="margin-right:15px;" @output="value => outputFrontBuild = value" />

				<!-- open folder in file explorer -->
				<button-open-folder :path="project.path" style="margin-right:15px;" />

				<!-- open folder in editor -->
				<button-open-editor :path="project.path" style="margin-right:15px;" />

				<!-- open browser -->
				<button-open-browser :address="address" style="margin-right:15px;" />

				<!-- show output -->
				<span
					class="is-size-5 has-text-grey"
					:class="(outputFrontStart || outputFrontBuild) ? 'has-text-grey' : 'has-text-grey-light'"
					:style="{ 'margin-right': '10px', cursor: (outputFrontStart || outputFrontBuild) ? 'pointer' : 'not-allowed' }"
					title="Show 'front' output"
					@click="showOutput = !showOutput"
				>
					<span class="fa fa-fw" :class="showOutput ? 'fa-eye-slash' : 'fa-eye'"></span>
				</span>
			</template>

			<!-- remove project -->
			<span
				class="is-size-5 has-text-danger"
				style="cursor:pointer; margin-left:30px;"
				title="Remove project from the list"
				@click="showRemoveConfirmationModal = true"
			>
				<span class="fa fa-fw fa-times-rectangle"></span>
			</span>
		</div>
	</div>

	<!-- webpack outputs -->
	<template v-if="showOutput">
		<div class="message" v-if="outputFrontStart">
			<div class="message-header">Front start's output</div>

			<div class="message-body" style="padding:0;border:none;max-height:150px;overflow-y:auto;">
				<pre style="background:#222;color:#f7f7f7;" v-html="outputFrontStart"></pre>
			</div>
		</div>

		<div class="message" v-if="outputFrontBuild">
			<div class="message-header">Front build's output</div>

			<div class="message-body" style="padding:0;border:none;max-height:150px;overflow-y:auto;">
				<pre style="background:#222;color:#f7f7f7;" v-html="outputFrontBuild"></pre>
			</div>
		</div>
	</template>

	<!-- remove confirmation modal -->
	<div class="modal is-active" v-if="showRemoveConfirmationModal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Confirmation</p>
			</header>
			<section class="modal-card-body">
				Remove project <strong class="has-text-danger">{{ project.name }}</strong> from the list?
			</section>
			<footer class="modal-card-foot" style="justify-content:flex-end;">
				<button type="button" class="button" @click="showRemoveConfirmationModal = false">Cancel</button>
				<button type="button" class="button is-danger" @click="remove">Remove</button>
			</footer>
		</div>
	</div>
</div>