<div class="box">
	<div class=" flex flex-h-center">
		<strong class="text-muted">
			{{ project.name.toUpperCase() }}
			<span class="text-danger" v-if="!folderExists">(THIS FOLDER DOESN'T EXIST!)</span>
		</strong>

		<div class="flex flex-h-center" style="margin-left:auto;">
			<template v-if="folderExists">
				<!-- front start -->
				<button-front-start :path="project.path" style="margin-right:10px;" @address="value => address = value" @output="value => outputFrontStart = value"
				/>

				<!-- front build -->
				<button-front-build :path="project.path" style="margin-right:10px;" @output="value => outputFrontBuild = value" />

				<!-- open folder in file explorer -->
				<button-open-folder :path="project.path" style="margin-right:10px;" />

				<!-- open folder in editor -->
				<button-open-editor :path="project.path" style="margin-right:10px;" />

				<!-- open browser -->
				<button-open-browser :address="address" style="margin-right:10px;" :disabled="!address" />

				<!-- toggle output -->
				<button type="button" class="btn btn-default" style="margin-right:10px;" title="Toggle 'front' output" @click="showOutput = !showOutput">
					<span class="fa text-muted" :class="showOutput ? 'fa-eye-slash' : 'fa-eye'"></span>
				</button>
			</template>

			<!-- remove -->
			<button type="button" class="btn btn-default" title="Remove project from the list" @click="showRemoveConfirmationModal = true">
				<span class="fa fa-remove text-danger"></span>
			</button>
		</div>
	</div>

	<!-- webpack outputs -->
	<div v-if="showOutput">
		<div class="panel panel-default panel-webpack-output" style="margin-bottom:15px;margin-top:15px;">
			<div class="panel-heading">
				<strong class="text-muted">Front start's output</strong>
			</div>
			<div class="panel-body">
				<pre v-html="outputFrontStart" v-if="outputFrontStart"></pre>
				<pre v-else>Nothing to show yet.</pre>
			</div>
		</div>

		<div class="panel panel-default panel-webpack-output" style="margin-bottom:0;">
			<div class="panel-heading">
				<strong class="text-muted">Front build's output</strong>
			</div>
			<div class="panel-body">
				<pre v-html="outputFrontBuild" v-if="outputFrontBuild"></pre>
				<pre v-else>Nothing to show yet.</pre>
			</div>
		</div>
	</div>

	<!-- remove confirmation modal -->
	<div class="modal fade in" style="display:block;" v-if="showRemoveConfirmationModal">
		<div class="modal-dialog" style="margin:0;width:100%;height:100%;background:rgba(0, 0, 0, .50);display:flex;align-items:center;justify-content:center;">
			<div class="modal-content" style="width:600px;">
				<div class="modal-header">
					<h4 class="modal-title text-muted">Confirmation</h4>
				</div>

				<div class="modal-body">
					Remove project <strong class="text-danger">{{ project.name.toUpperCase() }}</strong> from the list?
				</div>

				<div class="modal-footer flex">
					<button type="button" class="btn btn-default" @click="showRemoveConfirmationModal = false">Cancel</button>
					<button type="button" class="btn btn-danger" style="margin-left:auto;" @click="remove">Remove</button>
				</div>
			</div>
		</div>
	</div>
</div>