<div>
	<div class="alert alert-danger" v-if="errorMessage" v-html="errorMessage"></div>
	<div class="alert alert-success" v-if="successMessage" v-html="successMessage"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong class="text-muted">Path</strong>
		</div>
		<div class="panel-body">
			<div class="input-group" @click="showFolderDialog">
				<input type="text" id="folder" class="form-control" v-model="folder" disabled>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default">Choose</button>
				</span>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-success" style="position:absolute;bottom:15px;right:15px;" :disabled="!folder" @click="confirm">Confirm</button>
</div>