<span>
	<button type="button" class="btn btn-default" v-if="loading" disabled>
		<span class="fa fa-fw fa-spin fa-spinner"></span>
	</button>

	<button type="button" class="btn btn-default" title="Run 'front start' command" v-if="!loading && !running" @click="run">
		<span class="fa fa-fw fa-play text-muted" v-if="!loading && !running"></span>
	</button>

	<button type="button" class="btn btn-default" title="Stop 'front start' command" v-if="running" @click="stop">
		<span class="fa fa-fw fa-stop text-danger"></span>
	</button>
</span>