<div id="application-container" class="flex flex-column" style="justify-content:space-between;">
	<div class="flex flex-h-center" style="margin-bottom:30px;">
		<h3 class="text-muted">Front App</h3>

		<div class="btn-group" style="margin-left:auto;">
			<button type="button" class="btn btn-default" :class="{ active: activeButton === 1 }" @click="activeButton = 1">
				<span class="fa fa-list"></span> Projects
			</button>
			<button type="button" class="btn btn-default" :class="{ active: activeButton === 2 }" @click="activeButton = 2">
				<span class="fa fa-folder"></span> Add Existing Project
			</button>
			<button type="button" class="btn btn-default" :class="{ active: activeButton === 3 }" @click="activeButton = 3">
				<span class="fa fa-plus-circle"></span> Init New Project
			</button>
			<button type="button" class="btn btn-default" :class="{ active: activeButton === 4 }" @click="activeButton = 4">
				<span class="fa fa-cog"></span> My Preferences
			</button>
		</div>
	</div>

	<div class="flex flex-column" style="flex:1;">
		<!-- project list -->
		<project-list v-if="activeButton === 1" />

		<!-- project add -->
		<project-add v-if="activeButton === 2" />

		<!-- projet init -->
		<project-init v-if="activeButton === 3" />

		<!-- my preferences -->
		<config v-if="activeButton === 4" />
	</div>
</div>