<div class="box">
	<div class="level is-mobile">
		<div class="level-left">
			<span class="is-size-6 has-text-grey">{{ project.name }}</span>
		</div>

		<div class="level-right">
			<!-- front start -->
			<span class="is-size-5 has-text-primary" title="Run 'front start' command" style="cursor:pointer;margin-right:10px;" @click="start" v-if="!isStarting && !isRunning">
				<span class="fa fa-fw fa-play-circle"></span>
			</span>

			<!-- front is starting -->
			<span class="is-size-5 has-text-grey-light" style="margin-right:10px;" v-if="isStarting">
				<span class="fa fa-fw fa-spin fa-spinner"></span>
			</span>

			<!-- front stop -->
			<span class="is-size-5 has-text-danger" title="Stop 'front start' command" style="cursor:pointer;margin-right:10px;" @click="stop" v-if="isRunning">
				<span class="fa fa-fw fa-stop-circle"></span>
			</span>

			<!-- open folder -->
			<span class="is-size-5 has-text-warning" title="Open folder in file explorer" style="cursor:pointer;margin-right:10px;" @click="openFolder">
				<span class="fa fa-folder-open"></span>
			</span>

			<!-- open editor -->
			<span class="is-size-5 has-text-info" title="Open folder in VS Code" style="cursor:pointer;margin-right:10px;" @click="openEditor">
				<span class="fa fa-fw fa-code"></span>
			</span>

			<!-- show output -->
			<span class="is-size-5 has-text-grey" title="Show 'front start' output" :class="output ? 'has-text-grey' : 'has-text-grey-light'" :style="{ 'margin-right': '10px', cursor: output ? 'pointer' : 'not-allowed' }" @click="showOutput = !showOutput">
				<span class="fa fa-fw" :class="showOutput ? 'fa-eye-slash' : 'fa-eye'"></span>
			</span>

			<!-- open browser -->
			<span class="is-size-5 has-text-grey" title="Open application in browser" :class="address ? 'has-text-grey' : 'has-text-grey-light'" :style="{ cursor: address ? 'pointer' : 'not-allowed' }" @click="openBrowser">
				<span class="fa fa-fw fa-external-link"></span>
			</span>

			<!-- remove project -->
			<span class="is-size-5 has-text-danger" title="Remove project" style="cursor:pointer; margin-left:40px;" @click="showRemoveConfirmationModal = true">
				<span class="fa fa-fw fa-times-rectangle"></span>
			</span>
		</div>
	</div>

	<!-- webpack output -->
	<pre v-if="showOutput" style="margin-top:10px;background:#222;color:#f7f7f7;max-height:150px;overflow-y:auto;" v-html="output"></pre>

	<!-- remove confirmation modal -->
	<div class="modal is-active" v-if="showRemoveConfirmationModal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Confirmation</p>
			</header>
			<section class="modal-card-body">
				Remove project <strong class="has-text-danger">{{ project.name }}</strong>?
			</section>
			<footer class="modal-card-foot" style="justify-content:flex-end;">
				<button type="button" class="button" @click="showRemoveConfirmationModal = false">Cancel</button>
				<button type="button" class="button is-danger" @click="remove">Remove</button>
			</footer>
		</div>
	</div>
</div>